{% extends 'base.html' %}
{% block content %}
<h2>Edit Recipe</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label }}
        {{ form.title(class_="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.description.label }}
        {{ form.description(class_="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.ingredients.label }}
        {{ form.ingredients(class_="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.instructions.label }}
        {{ form.instructions(class_="form-control") }}
    </div>
    {{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock %}
